page-droite {

.button-md-secondary{
  background-color: #7F0100;
}
.button-md-secondary:hover:not(.disable-hover) {
  background-color: #7f0100;
}
  #msgerror{
    text-align: center;
    font-size: 20px;
    font-family: system-ui;
    color: #7F0100;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
