page-gauche {

  ion-title{
    color:white;
  }

  .mydiv{
    padding-top: 50px;
  }

  .button:active{
    background-color: #7F0100;
  }
  .button{
    background-color: #7F0100;
  }

  .mybutton{
    background-color: #ffffff;
    color: black;
    border: 2px solid #7F0100;
  }

.input-cover{
  color: #7F0100;
}

  :not(.disable-hover).button-md:hover{
    background-color: #7F0100;
  }

  :not(.disable-hover).button-md-secondary:hover{
    background-color: #32db64;
  }
  #createcode{
    background-color: #488aff;
  }
  #scancode{
    background-color: #32db64;
  }
  .alert-md .alert-button{
    color: #7F0100;
  }
  .alert-button .alert-button-md .alert-button-default .alert-button-default-md{
    color:#7F0100;

  }

  .alert [aria-checked=true] .alert-checkbox-icon{
    background-color: #7F0100;
    border-color: #7F0100;
  }
  :not(.disable-hover).button:hover{
    background-color: #7F0100;
  }

  :not(.disable-hover).button-secondary:hover{
    background-color: #32db64;
  }

  .button.alert-button.alert-button-md.alert-button-default.alert-button-default-md{
    color: #7F0100;
  }

  .alert [aria-checked=true] .alert-checkbox-icon{
    background-color: #7F0100;
    border-color: #7F0100;
  }
}
